<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body class="container" style="text-align: center;">
    <h1 style="color: red;">ERROR !!!</h1>
    <h2><%= msg %></h2>
    <h2><%= location %></h2>
    <h2><%= param %></h2>
    <a href="./" class="btn">
        <i class="fa fa-home"></i>
       </a>
</body>

</html>