<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="/static/images/Logo.png"/>
    <p>Welcome to <%= title %></p>
  </body>
</html>
